# Source files which should not be formatted

# Vendored
/src/scss/vendor/

# Too many bugs
/**/*.md

# Templating support issues
/content/.test-meta.json
/content/_layouts/default.json
/content/**/*.html

# Whitelisted
!/content/projects.html
!/content/index.html

# Externally generated test resources
/ci/**/test/*.json

# Non-source files

/.vscode/
/_site/
/content/home-assets/
/node_modules/
/vendor/
