{% assign index_page = (site.pages | where: 'path', 'index.html' | first) %}

<header data-region-id="page-header" class="grid-base grid-header">
  <h1 class="grid-header-title">
    <a href="{{ index_page.url }}" {% if index_page.url == page.url %} class="active-link" {% endif %}>William Bain</a>
  </h1>
  <nav class="grid-header-navbar">
    <ul>
      {% assign nav_pages = site.pages | sort: 'nav_priority' %}
      {% for nav_page in nav_pages %}
        {% if nav_page.in_nav and nav_page.layout != "section-partial" %}
          <li><a href="{{ nav_page.url }}" {% if nav_page.url == page.url %} class="active-link" {% endif %}>{{ nav_page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="https://github.com/wabain/" target="_blank">GitHub</a></li>
    </ul>
  </nav>
</header>
