<div class="grid-base grid-post" data-page-meta="{{ page.title }}" data-content-longform>
    <div class="grid-post-header">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="grid-post-separator"></div>
    <div class="grid-post-meta">
        <div>
            {{ page.date | date: "%B %-d, %Y" }}
        </div>
        <div>
            {% for tag in page.tags %}
            #{{ tag }}
            {% endfor %}
        </div>
    </div>
    <div class="grid-post-content longform">
        {{ content }}
    </div>
</div>
