.grid-about {
  grid-template-areas:
    ". about-intro"
    ". about-more"
    ". about-close";

  @screen sm {
    grid-template-areas:
      ". about-intro about-intro"
      ". about-more about-more"
      ". . about-close";
  }

  @screen md {
    grid-template-areas:
      ". . about-intro ."
      ". . about-more about-more"
      ". . . about-close";
  }
}

.about-line {
  @apply .text-2xl .mt-8 .mb-8;
}

.grid-about-intro {
  grid-area: about-intro;
}

.grid-about-more {
  grid-area: about-more;
}

.grid-about-close {
  grid-area: about-close;
}
