.grid-about {
  grid-template-areas:
    ". intro"
    ". more"
    ". close";

  @media (min-width: $screen-sm-min) {
    grid-template-areas:
      ". intro intro"
      ". more more"
      ". . close";
  }

  @media (min-width: $screen-md-min) {
    grid-template-areas:
      ". . intro ."
      ". . more more"
      ". . . close";
  }
}

.about-line {
  margin: $eight-grid-size 0;
  font-size: 24px;
}

.grid-about-intro {
  grid-area: intro;
}

.grid-about-more {
  grid-area: more;
}

.grid-about-close {
  grid-area: close;
}
