@use "../base/sizing";

.about-line {
  margin: sizing.$eighth-grid 0;
  font-size: 24px;
}

.grid-about-intro {
  grid-row: 1;
  grid-column: primary-start / span 1;
}

.grid-about-more {
  grid-row: 2;
  grid-column: primary;
}

.grid-about-close {
  grid-row: 3;
  grid-column: span 1 / primary-end;
}
