@use "../base/colors";
@use "../base/sizing";

.grid-blog-header {
  grid-row: 1;
  grid-column: outer-left / outer-right;
}

.grid-blog-listing {
  grid-row: 2;
  grid-column: primary;
}

@media (min-width: sizing.$screen-md-min) {
  .grid-blog-header {
    grid-column: span 1 / primary-start;
    margin-right: sizing.$margin-xs;
    justify-self: end;
  }

  .grid-blog-listing {
    grid-column: primary;
  }
}

.blog-post-link,
.blog-post-link:hover {
  display: block;
  margin-bottom: 2rem;
  text-decoration: none;
  color: inherit;

  h3 {
    margin: 0 0 0.5rem;
  }
}

.blog-post-link:hover h3 {
  color: colors.$primary-light;
}

.blog-post-meta {
  margin-bottom: 0.8rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
}
