@use "../base/colors";
@use "../base/sizing";

$header-v-padding: 0.67rem;

// Display inline if there is space, or collapse into multiple lines
.grid-header {
  grid-template-areas:
    ". title title title"
    ". nav nav nav";
  margin-bottom: sizing.$eighth-grid;

  @media (min-width: sizing.$screen-md-min) {
    grid-template-areas: ". title nav nav";
  }
}

// The header text is displayed using inline SVG to avoid an extra webfont load;
// the text is still included with "color: transparent" to support screenreaders
// and other fallback scenarios
.grid-header-title {
  grid-area: title;

  margin: $header-v-padding 0;

  color: transparent;
  // Josefin Sans is not loaded as a webfont, but keep the declaration to help
  // with development
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;

  justify-self: end;
  align-self: end;

  a,
  a:hover {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    border-bottom: 1px solid colors.$off-black;
  }

  a.active-link {
    border-bottom: 1px solid colors.$link-active;
  }

  a .header-title-text {
    display: inline-block;

    background: url("../buildtime-assets/img/header.svg") no-repeat;

    width: 185px; // matched to SVG dimensions
    height: 36.8px; // manually tweaked to match the text baseline positioning

    overflow: hidden;

    vertical-align: text-bottom;
  }
}

.grid-header-navbar {
  grid-area: nav;
  align-self: end;
  justify-self: end;

  > ul {
    padding: 0;

    > li {
      display: inline;

      + li {
        margin-left: sizing.$margin-sm;
      }
    }
  }

  /* stylelint-disable no-descending-specificity */
  a {
    text-transform: lowercase;
    text-decoration: none;
  }
  /* stylelint-enable */
}

@media (min-width: sizing.$screen-md-min) {
  .grid-header-title {
    margin-right: sizing.$margin-xs;
  }

  .grid-header-navbar {
    justify-self: normal;
  }

  .grid-header-navbar > ul {
    // Hack: bottom margin is supposed to keep the navbar and title
    // aligned; probably need something more principled instead
    margin-bottom: 1.15rem;
    margin-left: sizing.$margin-xs;
  }
}
