// Display inline if there is space, or collapse into multiple lines
.header-block {
  @extend %grid-base;

  @apply .mb-8;

  grid-template-areas:
    ". header header header"
    ". nav nav nav";

  @screen md {
    grid-template-areas: ". header nav nav";
  }

  h1 {
    @apply .mt-3 .mb-3 .font-accent;

    grid-area: header;
    justify-self: end;
    align-self: end;

    a,
    a:hover {
      @apply .no-underline;

      color: inherit;
    }

    a:hover {
      @apply .border-off-black .border-b;
    }

    a.active-link {
      @apply .border-complement .border-b;
    }
  }
}

.navbar {
  grid-area: nav;
  align-self: end;
  justify-self: end;

  > ul {
    @apply .pl-0;

    > li {
      @apply .inline;

      + li {
        @apply .ml-3;
      }
    }
  }

  a {
    @apply .no-underline .lowercase;
  }
}

@screen md {
  .header-block h1 {
    @apply .mt-0 .mb-0 .mr-2;
  }

  .navbar {
    justify-self: normal;

    > ul {
      @apply .ml-2 .mb-3;
    }
  }
}
