.grid-legacy-page {
  grid-template-areas: ". content content";

  @media (min-width: $screen-md-min) {
    grid-template-areas: ". . content content";
  }
}

.grid-legacy-page-content {
  grid-area: content;
}
