.legacy-page {
  @extend %grid-base;

  grid-template-areas: ". content content";

  @screen md {
    grid-template-areas: ". . content content";
  }
}

.legacy-page-content {
  grid-area: content;
}
