@use "../base/colors";
@use "../base/sizing";

.grid-post {
  grid-template-areas:
    ". header header"
    ". meta meta"
    ". separator ."
    ". content content";

  @media (min-width: sizing.$screen-md-min) {
    grid-template-areas:
      ". . header header"
      ". . separator ."
      ". meta content content";
  }
}

.grid-post-header {
  grid-area: header;
  margin-left: sizing.$margin-sm;
}

.grid-post-separator {
  grid-area: separator;

  transform: translateX(-(sizing.$grid / 32));

  margin-top: sizing.$margin-sm;
  margin-bottom: sizing.$margin-md;

  background: url("../buildtime-assets/img/post-separator.svg") no-repeat;

  height: 4px;

  @media (min-width: sizing.$screen-sm-min) {
    transform: translateX(-(sizing.$sixteenth-grid));
  }

  @media (min-width: sizing.$screen-md-min) {
    transform: translateX(-100px + sizing.$sixteenth-grid);
    margin-top: 0;
    width: sizing.$grid;
  }
}

.grid-post-meta {
  grid-area: meta;
  margin-left: sizing.$margin-md;
  font-family: "Playfair Display", serif;
  font-style: italic;

  @media (min-width: sizing.$screen-md-min) {
    margin-right: sizing.$margin-sm;
    text-align: right;
  }
}

.grid-post-content {
  grid-area: content;
  margin: 0 sizing.$margin-sm;
}

// From Markdown
.footnotes {
  border-top: 1px solid colors.$light-gray;
  line-height: 1.3;

  // TODO: Set the base font size on the body instead
  // of having one specific to .longform
  // font-size: 1.1rem;
  font-size: 90%;
}
