@use "base/sizing";

.grid-projects-head {
  grid-template-areas: "projects-text projects-text projects-text";

  @media (min-width: sizing.$screen-md-min) {
    grid-template-areas: "projects-text projects-text . .";
  }
}

.grid-projects-head-text {
  grid-area: projects-text;

  @media (min-width: sizing.$screen-md-min) {
    margin-right: sizing.$margin-xs;
    justify-self: end;
  }
}

.grid-linear {
  grid-template-areas:
    ". header"
    ". text";

  @media (min-width: sizing.$screen-sm-min) {
    grid-template-areas:
      ". header header"
      ". text text";
  }

  @media (min-width: sizing.$screen-md-min) {
    grid-template-areas:
      ". . header header"
      ". . text text";
  }
}

.grid-linear-header {
  grid-area: header;
}

.grid-linear-text {
  grid-area: text;
}

.grid-ddmal {
  grid-template-areas:
    ". header header ."
    ". image image image"
    ". text text .";

  @media (min-width: sizing.$screen-md-min) {
    grid-template-areas:
      ". . header header ."
      ". . image image image"
      ". . text text .";
  }

  @media (min-width: sizing.$screen-lg-min) {
    grid-template-areas:
      ". . header header ."
      ". . text image image";
  }
}

.grid-ddmal-header {
  grid-area: header;
}

.grid-ddmal-image {
  grid-area: image;

  @media (min-width: sizing.$screen-lg-min) {
    margin-top: 1em; // Match paragraph margin
    margin-left: sizing.$sixteenth-grid;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.grid-ddmal-text {
  grid-area: text;
}
