.grid-projects-bg {
  grid-template-areas: ". bg bg";

  @screen md {
    grid-template-areas: ". . bg bg";
  }
}

.grid-projects-bg-pane {
  grid-area: bg;
}

.grid-projects-head {
  grid-template-areas: "projects-text projects-text projects-text";

  @screen md {
    grid-template-areas: "projects-text projects-text . .";
  }
}

.grid-projects-head-text {
  grid-area: projects-text;

  @screen md {
    @apply .mr-2;

    justify-self: end;
  }
}

.grid-cisco-lisp {
  grid-template-areas:
    ". lisp-header"
    ". lisp-text";

  @screen sm {
    grid-template-areas:
      ". lisp-header lisp-header"
      ". lisp-text lisp-text";
  }

  @screen md {
    grid-template-areas:
      ". . lisp-header lisp-header"
      ". . lisp-text lisp-text";
  }
}

.grid-cisco-lisp-header {
  grid-area: lisp-header;
}

.grid-cisco-lisp-text {
  grid-area: lisp-text;
}

.grid-oss {
  grid-template-areas:
    ". oss-header"
    ". oss-text";

  @screen sm {
    grid-template-areas:
      ". oss-header oss-header"
      ". oss-text oss-text";
  }

  @screen md {
    grid-template-areas:
      ". . oss-header oss-header"
      ". . oss-text oss-text";
  }
}

.grid-oss-header {
  grid-area: oss-header;
}

.grid-oss-text {
  grid-area: oss-text;
}

.grid-ddmal {
  grid-template-areas:
    ". header header ."
    ". image image image"
    ". text text .";

  @screen md {
    grid-template-areas:
      ". . header header"
      ". image image text";
  }
}

.grid-ddmal-header {
  grid-area: header;
}

.grid-ddmal-image {
  grid-area: image;
}

.grid-ddmal-text {
  grid-area: text;
}
