{% assign index_page = (site.pages | where: 'path', 'index.html' | first) %}

<header class="header-block">
  <h1><a href="{{ index_page.url }}" data-pagetitle="{{ index_page.title }}">William Bain</a></h1>
  <nav class="navbar">
    <ul>
      {% comment %} FIXME: Using a `where` filter to check in_nav should work but doesn't {% endcomment %}
      {% for nav_page in site.pages | sort:'nav_priority' %}
        {% if nav_page.in_nav and nav_page.layout != "section-partial" %}
          <li><a href="{{ nav_page.url }}" {% if nav_page.url == page.url %} class="active-link" {% endif %}>{{ nav_page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="https://github.com/wabain/" target="_blank">GitHub</a></li>
    </ul>
  </nav>
</header>
