$primary: #5076be;
$primary-light: #85afff;
$primary-dark: #243f71;
$complement: #f2b632;

$off-black: #222;
$light-gray: #f0f0f0;

$link: $primary;
$link-hover: $primary-light;
$link-active: $complement;
