$grid: 352px;
$half-grid: 176px;
$quart-grid: 88px;
$eighth-grid: 44px;
$sixteenth-grid: 22px;

$screen-lg-min: $grid * 4 + $quart-grid;
$screen-md-min: $grid * 3 + $quart-grid;
$screen-sm-min: $grid * 2 + $quart-grid;
