---
title: Contact
priority: 3
ghpages:
  - redirect_from: "/cv.html"
---

<h2>Contact</h2>
<p>Feel free to contact me with any inquiries. My email is in the format firstname.lastname@&#8203;mail.mcgill.ca.</p>
