<!DOCTYPE html>
<!-- <%= index_banner %> -->

<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <link type="text/css" rel="stylesheet" href="<%= styles.page %>" />

  <!--[if lt IE 9]>
  <script type="text/javascript" src="<%= scripts.html5shiv %>"></script>
  <![endif]-->

  <title><%= grunt.option('release') ? '' : '[dev] ' %>William Bain</title>
</head>
<body>
  <div class="container">
    <header class="header-block">
      <h1 class="heading">William Bain</h1>
      <nav class="navbar">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#cv">CV</a></li>
        </ul>
      </nav>
    </header>

    <section id="about" class="content">
      <%= readFile(sections.about) %>
    </section>

    <section id="projects" class="content">
      <%= readFile(sections.projects) %>
    </section>

    <section id="cv" class="content">
      <%= readFile(sections.cv) %>
    </section>
  </div>

  <script type="text/javascript" src="<%= scripts.jquery %>"></script>
  <script type="text/javascript" src="<%= scripts.enhancement %>"></script>
</body>
</html>
