$xs-main-margin-pct:
  percentage($quart-grid-size / (floor($screen-sm-min / $grid-size) * $grid-size));

body {
  // The normalize stylesheet ensures there's no body margin

  background:
    url("../buildtime-assets/img/grid-bg-line-start.svg") left $xs-main-margin-pct center repeat-y,
    url("../buildtime-assets/img/grid-bg-line-end.svg") right $xs-main-margin-pct center repeat-y;

  @media (min-width: $screen-sm-min) {
    background: url("../buildtime-assets/img/grid-bg-center-2x.svg") center repeat-y;
  }

  @media (min-width: $screen-md-min) {
    background:
      url("../buildtime-assets/img/grid-bg-hide.svg") center repeat-y,
      url("../buildtime-assets/img/grid-bg.svg") center repeat;
  }

  @media (min-width: $screen-lg-min) {
    background:
      url("../buildtime-assets/img/grid-bg-center-hide.svg") center repeat-y,
      url("../buildtime-assets/img/grid-bg-center.svg") center repeat;
  }

  &.focused-content {
    background: url("../buildtime-assets/img/grid-bg-line-hl-start.svg") left $xs-main-margin-pct center repeat-y;

    @media (min-width: $screen-sm-min) {
      background: url("../buildtime-assets/img/grid-bg-center-2x-hl-start.svg") center repeat-y;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
      background: url("../buildtime-assets/img/grid-bg-center-hl-start.svg") left $grid-size center repeat-y;
    }
  }
}

.container {
  margin-top: $eight-grid-size;
}

// Base definition for the layout grid
//
// On very small screens, all space is allocated to a single column. A zero-
// sized grid cell is left so that the grid definition matches the shape on
// small screens, where two fixed-sized columns are available.
//
// On larger screens, three or four columns are allocated for the primary
// content (although there may be more space available).
.grid-base {
  display: grid;
  grid-template-columns: $xs-main-margin-pct minmax(150px, auto) 0 $xs-main-margin-pct;

  @media (max-width: $screen-sm-min - 1) {
    .focused-content & {
      grid-template-columns: $xs-main-margin-pct minmax(150px, auto) 0 $sixteenth-grid-size;
    }
  }

  @media (min-width: $screen-sm-min) {
    grid-template-columns: 1fr $grid-size $grid-size 1fr;
  }

  @media (min-width: $screen-md-min) {
    grid-template-columns: 1fr repeat(3, $grid-size) 1fr;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
    .focused-content & {
      grid-template-columns: 0 repeat(3, $grid-size) minmax(0, auto);
    }
  }

  @media (min-width: $screen-lg-min) {
    grid-template-columns: 1fr repeat(4, $grid-size) 1fr;
  }
}
