// Text formatting

body {
  line-height: 1.3;
  color: $off-black;
  font: {
    family: "Roboto", Helvetica, Arial, sans-serif;
    size: 1.3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.subhead {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.subhead {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
    color: $link-hover-color;
  }

  &:active,
  &.active-link {
    color: $link-active-color;
  }
}
