$off-black: #222;
$light-gray: #a9a9a9;
$link-color: rgb(90, 80, 190);
$link-hover-color: rgb(100, 160, 175);
$link-active-color: #f00;

$screen-md-min: 917px;
// Magic number to have the size of the content box start/stop growing
// without a jump in dimensions
$screen-sm-max: $screen-md-min - 1px;
$screen-sm-min: 500px;
$screen-xs-max: $screen-sm-min - 1px;

.container {
  margin: 100px auto 0;
  max-width: 900px;

  // Shrink the top margin when the screen is small
  @media (max-height: 400px) {
    margin-top: 30px;
  }
}

// Display inline if there is space, or collapse into multiple lines
.header-block {
  display: block;
  margin-bottom: 10px;

  > * {
    display: block;

    + * {
      margin-left: 0;
    }
  }

  h1 a,
  h1 a:hover {
    color: inherit;
  }

  @media (min-width: $screen-sm-min) {
    position: sticky;
    top: 0;
    margin-bottom: 50px;
    background-color: #fff;

    > * {
      display: inline;

      + * {
        margin-left: 40px;
      }
    }
  }
}

.navbar {
  > ul {
    display: inline;
    padding: 0;
    font-size: 14pt;

    > li {
      display: inline;

      + li {
        margin-left: 15px;
      }
    }
  }

  a {
    text-transform: lowercase;
    text-decoration: none;
  }
}

.content {
  margin: 0;
  max-width: 750px;

  @media (min-width: $screen-md-min) {
    margin-left: 150px;
    max-width: auto;
  }
}

.fading {
  transition: opacity 0.5s ease;
  opacity: 1;

  &.faded-out {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.loading-indicator {
  display: block;
  margin: 1em auto 0;
}

.img-preview {
  display: block;

  margin: 1em auto;
  max-width: 250px;

  @media (min-width: $screen-sm-min) {
    float: left;
    margin: 0 10px 10px 0;
  }

  > img {
    border: 0;
    max-width: 250px;
    height: auto;
  }

  > .bordered {
    border: solid 1px;
  }

  + p {
    margin-top: 0;
  }
}


// Text formatting

body {
  font: {
    family: 'Raleway', Verdana, sans-serif;
    size: 12pt;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 500;

  > small {
    margin-left: 5px;
    color: $light-gray;
  }
}

h1 {
  color: $off-black;
  font-size: 2em;
}

h2 {
  color: $light-gray;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
    color: $link-hover-color;
  }

  &:active,
  &.active-link {
    color: $link-active-color;
  }
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.cleared {
  clear: both;
}
