/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Raleway);

.container {
    max-width: 900px;
    margin: 100px auto 0px;

    @media (max-height: 400px) {
        /* Shrink top margin when the screen is small */
        margin-top: 30px;
    }
}

/* Display inline if there is space, or collapse into multiple lines */
.header-block {
    display: block;
    margin-bottom: 50px;

    & > * {
        display: inline;
    }

    & > * + * {
        margin-left: 40px;
    }

    @media (max-width: 500px) {
        margin-bottom: 10px;

        & > * {
            display: block;
        }

        & > * + * {
            margin-left: 0px;
        }
    }
}

.navbar {
    & > ul {
        display: inline;
        padding: 0px;
        font-size: 14pt;

        & > li {
            display: inline;
        }

        & > li + li {
            margin-left: 15px;
        }
    }

    a {
        text: {
            decoration: none;
            transform: lowercase;
        }
    }
}

.content {
    margin-left: 150px;

    @media (max-width: 916px) {
        /* Magic number to have the size of the content box start/stop growing
           without a jump in dimensions */
        margin-right: 0px;
        margin-left: auto;
        max-width: 750px;
    }
}

.hidden {
    display: none;
}


/* Text formatting */

body {
    font: {
        family: 'Raleway', Verdana, sans-serif;
        size: 12pt;
    }
}

.heading {
    font-family: 'Ubuntu', Helvetica, sans-serif;

    & > small {
        margin-left: 5px;
        color: #a9a9a9;
    }
}

h1.heading {
    color: black;
    font-size: 2em;
}

h2.heading {
    color: #989898;
    font-size: 1.5em;
}

a {
    &:link {
        color: rgb(90, 80, 190);
    }

    &:visited {
        color: rgb(140, 100, 175);
    }

    &:hover {
        color: rgb(100, 160, 175);
        text-decoration: none;
    }

    &:active, &.active-link {
        color: rgb(255, 0, 0);
        text-decoration: none;
    }
}

/* Adapted from Bootstrap */
.initialism {
    font-size: 90%;
    text-transform: uppercase;
    vertical-align: text-bottom; /* subtly changes appearance of Ubuntu */
}
