// Keep variables in sync with tailwind.js!
$grid-size: 320px;

$screen-md-min: $grid-size * 3;
$screen-sm-max: $screen-md-min - 1px;
$screen-sm-min: $grid-size * 2;
$screen-xs-max: $screen-sm-min - 1px;

// Base imports
@tailwind preflight;
@tailwind components;

@import "text-formatting";
@import "layout-scaffolding";

// Sections
@import "sections/header";
@import "sections/about";
@import "sections/projects";
@import "sections/legacy-page";

// Utilities
@import "loading-effects";

@tailwind utilities;
