<header class="header-block">
  <h1><a href="index.html">William Bain</a></h1>
  <nav class="navbar">
    <ul>
    {{~#withSort pages "data.priority"}}
      {{#isnt data.title "About"~}}
        <li><a href="{{filename}}" {{~#is filename ../../filename}} class="active-link" {{~/is}}>{{data.title}}</a></li>
      {{~/isnt}}
    {{~/withSort}}
      <li><a href="https://github.com/wabain/" target="_blank">GitHub</a></li>
    </ul>
  </nav>
</header>
